<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubble Sort!</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</script>
</head>


<body id="app" class="font-bold bg-[#21142cf5] text-gray-800 mx-52">
    <img src="../assets/star-purple-background.jpg" alt="Background Image" class="absolute inset-0 w-full h-full object-cover opacity-10 -z-1">
    <main>
        <section>
            <div class="font-bold text-3xl text-center m-10 text-white">
                <h1 class="mb-5">Bubble Sort</h1>
                <h1 class="mb-3"> Unsorted Array - {{ randomArray }}</h1>
                <h1> Sorted Array - {{ sortedArray }}</h1>
            </div>

            <div class="flex flex-row justify-around items-center text-white text-3xl my-72">
                <div class="flex justify-center align-center text-white border-3 border-solid border-white/80 rounded-[50%] p-16 shadow-lg shadow-purple-500/40 w-[200px] h-[180px] hover:shadow-2xl duration-300" v-for="(num, index) in randomArray" :key="index" :id="'Div' + index">
                    {{ num }}</div>
                <div id="bubble circle" class="absolute border-3 border-solid border-red-600 rounded-[50%] p-32 w-[600px] h-[350px] -left-45 translate-x-3/4" v-if="randomArray.length"></div>
                
            </div>
            <p>Swap/Pass</p>
        </section>

        <section>
            <div>
                <button @click="randomNum" class="bg-black p-5 text-white mr-10 rounded-md hover:">Generate Random Numbers</button>
                <button @click="bubbleSort" v-if="randomArray.length" class="bg-black rounded-md p-5 text-white">Sort Array</button>
            </div>
        </section>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    randomArray: [],
                    sortedArray: [],
                };
            },

            methods: {
                bubbleSort() {
                    let array = this.randomArray.slice();
                    let len = array.length;

                    // outer for loop to iterate through the array 
                    for (let i = 0; i < len - 1; i++) {
                        let swapped = false;

                        // for loop to compare elements next to each other and swap if in wrong order.
                        for (let j = 0; j < len - i - 1; j++) {
                            if (array[j] > array[j + 1]) {
                                let temp = array[j];
                                array[j] = array[j + 1];
                                array[j + 1] = temp;
                                swapped = true;
                                this.randomArray = [...array]
                                this.delay();
                            }
                        }
                        // If no elements were swapped then stop
                        if (!swapped) {
                            break;
                        }
                    }
                },

                // Random 
                randomNum() {
                    this.randomArray = [];
                    while (this.randomArray.length < 6) {
                        let random = Math.floor(Math.random() * 50) + 1;
                        this.randomArray.push(random);
                    }
                }
            }
        }).mount('#app');
        </script>
    </main>
</body>
</html>