<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubble Sort!</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        courier: ['Courier', 'monospace'],
                    }
                }
            }
        }
    </script>
</head>

<body class="font-bold bg-[#21142cf5] text-gray-800 mx-52 Courier">
    <img src="../assets/star-purple-background.jpg" alt="Background Image" class="absolute inset-0 w-full h-full object-cover opacity-10 -z-1">
    
    <main id="app">
        <section>
            <div class="font-bold text-4xl text-center m-10 text-white">
                <h1 class="mb-5">Bubble Sort</h1>
                <h1 class="mb-3">Unsorted Array - {{ randomArray }}</h1>
                <h1>Sorted Array - {{ sortedArray }}</h1>
            </div>

            <div class="flex flex-row justify-around items-center text-white text-6xl my-60">

                <div class="flex justify-center items-center text-white border-2 border-white border-solid rounded-full p-36 w-36 h-36 transition-all duration-500 ease-in-out transform shadow-lg shadow-cyan-500/50"
                    :class="{
                        'bg-purple-700': isComparing && (index === compareIndex || index === compareIndex + 1) && index < randomArray.length - sortProgress - 1,
                        'bg-[#352e4d]': index < randomArray.length - sortProgress - 1 && (!isComparing || (index !== compareIndex && index !== compareIndex + 1)),
                        'bg-green-500': sortProgress >= 0 && index >= randomArray.length - sortProgress 
                    }"
                    v-for="(num, index) in randomArray" 
                    :key="index" 
                    :id="'Div' + index">          
                    {{ num }}
                </div>

                <!-- <div id="bubble-circle"
                    class="absolute border-3 border-solid border-red-600 rounded-[50%] p-32 w-[500px] h-[350px] translate-x-3/4 transition-all duration-500"
                    v-if="randomArray.length"
                    :class="isComparing ? 'left-[' + (compareIndex * 170) + 'px]' : '-left-42'">
                </div>  -->
            </div>
        </section>


        <section>
            <div class="flex flex-row justify-center items-center m-20">
                <p class="text-white text-3xl justify-center">Swap</p>
            </div>

            <div class="flex flex-row gap-10 justify-center items-center">
                <button @click="randomNum" class="bg-transparent border-2 border-white p-5 text-white rounded-4xl text-xl cursor-pointer"> Generate Random Numbers</button>
                <button @click="bubbleSort" v-if="randomArray.length" class="bg-transparent border-2 border-white  p-5 text-white mr-10 rounded-4xl text-xl cursor-pointer">Sort Array</button>
                <div class="flex flex-col text-xl" v-if="randomArray.length">
                    <label for="speedSlider" class="block mb-2 text-white mb-3">Speed Slider</label>
                    <div class="flex flex-row justify-between">
                        <label for="speedSlider" class="block mb-2 text-white mb-3">Fast</label>
                        <label for="speedSlider" class="block mb-2 text-white mb-3 text">Slow</label>
                    </div>
                    <input id="speedSlider" name="speedSlider" type="range" min="100" max="1000" step="10" v-model="delaySpeed" class="h-3 w-52 bg-black/50 rounded-full appearance-none cursor-pointer"/>
                </div>
                <button @click="reset" v-if="randomArray.length" class="bg-transparent border-2 border-white  p-5 text-white mr-10 rounded-4xl text-xl cursor-pointer">Reset</button>
            </div>
        </section>
    </main>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    randomArray: [],
                    sortedArray: [],
                    currentPos: null,
                    positions: [],
                    compareIndex: -1,
                    isComparing: false,
                    sortProgress: -1,
                    delaySpeed: 600
                }
            },

            methods: {
                async bubbleSort() {
                    let array = this.randomArray.slice();
                    let len = array.length;
                    this.sortProgress = -1;
                    // outer loop to loop through they array untill no moves happen
                    for (let i = 0; i < len - 1; i++) {
                        let swapped = false;
                        // second loop to compare each number next to eachother
                        for (let j = 0; j < len - i - 1; j++) {
                            this.currentPos = j;
                            this.compareIndex = j;
                            this.isComparing = true;
                            // pause to update the bg colors
                            await this.delay(this.delaySpeed);

                            if (array[j] > array[j + 1]) {
                                // swap elements in the array
                                let temp = array[j];
                                array[j] = array[j + 1];
                                array[j + 1] = temp;
                                swapped = true;
                                //update ui array re-render and swap divs
                                this.randomArray = [...array];
                                await this.delay(this.delaySpeed); 
                            }
                            this.isComparing = false;
                            this.sortProgress = i;
                            await this.delay(this.delaySpeed);
                        }
                        if (!swapped) {
                            break;
                        }
                    }
                    this.sortedArray = array;
                    this.isComparing = false;
                },
                // generate 6 random numbers between 1 and 50
                randomNum() {
                    this.randomArray = [];
                    while (this.randomArray.length < 6) {
                        let random = Math.floor(Math.random() * 50) + 1;
                        this.randomArray.push(random);
                    }
                    this.positions = this.randomArray.map((_, index) => index);
                    this.sortedArray = [];
                    this.isComparing = false;
                },
                //create a delay
                delay(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                }

            }
        }).mount('#app');
    </script>
</body>

</html>